@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: Roboto;
    box-sizing: border-box;
}

header {
    background-color: #129799;
    height: 70vh;
}

header nav {
    padding-top: 20px;
}

a {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    background-color: transparent;
    border-radius: 40px;
    cursor: pointer;
    text-decoration: none;
    position: relative;
}

header a:hover {
    background-color: rgba(231, 30, 231, 0.638);
}

.mao {
    position: absolute;
    top: 15px;
    left: 25px;
}

.capa {
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    color: #fff;
    padding-top: 5px;
    font-size: 64px;
}

.life img{
    padding-left: 2px;
}

main {
    background-color: #FFA185;
    display: flex;
    align-items: center;
    justify-content: center;
}

h2 {
    color: #fff;
    padding: 30px;
}

p {
    padding: 10px;
    padding-left: 30px;
    font-size: 16px;
    font-weight: bold;
}

.principal {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.principal img {
    width: 45%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
    transition: box-shadow 0.1s ease-in-out;
}

.img:hover {
    cursor: pointer;
    transition: .3s ease-in;
    box-shadow: 0px 0px 10px #00e0ff;
}

h4 {
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

h4 a {
    color: #000;
}

footer {
    display: flex;
    align-items: center;
}

footer nav {
    width: 500px;
}

.redes-sociais a {
    padding: 0 10px;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}

li {
    list-style: none;
}

footer {
    background-color: #129799;
    display: flex;
    justify-content: space-around;
    height: 20vh;
}